body  {
	height: 100vh;
	font-family: 'paralucent', sans-serif;
	font-weight: 500;
	font-size: 2em;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
}

.header {
	width: 100vw;
	font-family: 'paralucent', sans-serif;
	font-weight: 900;
	font-size: 3em;
	font-style: italic;
}

.main-container {
	width: 100vw;
	height: 100%;
	display: flex;
	/* flex-direction: column; */
	/* justify-content: center; */
	align-items: center;
}

.avatar-container {
	height: 350px;
	width: 45%;
}

.avatar-container > img {
	float: right;
}

.links-section {
	width: 55%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 2em;
}

.links-header {
	margin-bottom: 1em;
}

.links-collection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	margin-bottom: 1em;
}

.links-collection *:hover {
	transform: translateX(25px);
}

.links-collection * {
	width: 100%;
	transition: transform 1s ease;
	margin-bottom: 0.5em;
}

.links-collection *:last-child {
	margin: 0;
}

@media (max-width: 1099px) { 
	.avatar-container {
		height: 200px;
		width: 35%;
	}

	.links-section {
		padding-left: 1em;
		font-size: .9em;
	}
}

/* Smaller than iPad */
@media (max-width: 767px) { 
	body {
		font-size: 1.5em;
	}
}

/* Phone size */
@media (max-width: 767px) { 
	.footer {
		font-size: .9em;
	}

	.links-section {
		width: 100%;
	}

	.avatar-container {
		display: none;
	}

	.avatar-container > img {
		opacity: .3;
	}
}
