/*

Paralucent Light
	font-family: paralucent, sans-serif;
	font-weight: 300;
	font-style: normal;

Paralucent Light Italic
	font-family: paralucent, sans-serif;
	font-weight: 300;
	font-style: italic;
	
Paralucent Medium
	font-family: paralucent, sans-serif;
	font-weight: 500;
	font-style: normal;
	
Paralucent Medium Italic
	font-family: paralucent, sans-serif;
	font-weight: 500;
	font-style: italic;
	
Paralucent Bold
	font-family: paralucent, sans-serif;
	font-weight: 700;
	font-style: normal;
	
Paralucent Bold Italic
	font-family: paralucent, sans-serif;
	font-weight: 700;
	font-style: italic;
	
Paralucent Heavy
	font-family: paralucent, sans-serif;
	font-weight: 900;
	font-style: normal;

Paralucent Heavy Italic
	font-family: paralucent, sans-serif;
	font-weight: 900;
	font-style: italic;

*/